@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
  /* Darker version of #C0392B */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #C0392B;
  border-radius: 10px;
  border: 3px solid #8a2b20;
  /* Darker version for contrast */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a52e24;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #C0392B #000;
}